/* HTML Elements */

body {
    background-image: url("../../images/background.jpg");
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h1, h2 {
    line-height: 1.2;
    margin: 0 0 .5em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 1em;
}

a {
    color: chocolate;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

/* Page classes */

.page {
    position: relative;
    margin-left: 5%;
    width: 90%;
    min-width: 1375px;
}

.page-header-container,
.page-footer-background {
    background-color: rgba(255, 255, 255, .8);
}

.page-header-container-outer {
    background-image: url("../../images/background.jpg");
    z-index: 350;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    border-bottom: solid 4px #000000;
    margin-bottom: 5px;
    height: 320px;
}

.page-header-container-outer,
.page-header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.page-header-container {
    z-index: 500;
    display: inline-block;
}

.page-header-logo {
    background-image: url("../../images/header3.png");
    background-repeat: no-repeat;
    width: 100%;
    z-index: 750;
    height: 270px;
    background-position: center;
    background-size: contain;
    margin-bottom: 50px;
}

.page-navigation-container-outer {
    border-top: solid thin #000;
    position: relative;
    z-index: 100;
    margin-top: -50px;
}
.page-navigation-container {
    height: 50px;
    z-index: 1000;
}

.page-body-container {
    border: solid thin black;
    overflow-y: auto;
    margin-top: 350px;
    margin-bottom: 10px;
}

.page-inner-body-container {
    padding: 20px;
    background-color: rgba(255,255,255,.6);
}

.page-footer-container {
    border: solid thin black;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.page-footer-content {
    padding: 5px;
}

/* Inner content classes */

.inner-content-container {
    padding: 5px;
}

.inner-content {
    padding: 10px;
    border: solid thin black;
    background-color: rgba(255,255,255,.8);
}

.page-inner-body-container .following-row {
    border-top: solid thin black;
    margin-top: 10px;
    padding-top: 10px;
}

.inner-content-fourth,
.inner-content-twothird,
.inner-content-third,
.inner-content-half {
    vertical-align: top;
    display: inline-block;
}

.page-inner-body-container .following-column {
    margin-left: -5px;
}

.inner-content-half {
    width: 50%;
}
.inner-content-third {
    width: 33.33%;
}

.inner-content-twothird {
    width: 66.66%;
}

.inner-content-fourth {
    width: 25%;
}