<div class="page-header-container-outer">
    <div class="page-header-container page-header-background">
        <div class="page-header-logo"></div>
        <div class="page-navigation-container-outer">
            <div class="page-navigation-container page">
                <div class="navigation-login-right">{{ include('user/login.html.twig') }}</div>
                <ul class="navigation-list-container">
                    <li><a href="/" title="Home" >Home</a></li>
                    <li>App News</li>
                    <li>Options</li>
                    <li>Find mate</li>
                    <li>Write blog</li>
                    <!--li class="navigation-left"><a href="/user">Login</a></li-->
                </ul>
            </div>
        </div>
    </div>
</div>